<h1>New List</h1>

<% if @list.errors.any? %>
  <h3>Oh sh*t, son. Errors a-plenty! Please Try again:</h3>
  <ul>
  <% @list.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>
<% end %>

<%= render "form" %>
